<nav id="sections-sidebar" class="sections-sidebar">
  <ul>
    <li class="dropdown">San Francisco</li>
    <ul>
        <li class="sub-header">San Francisco</li>
        <li>Students</li>
        <li>Teaching Assistants</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
    </ul>
    <li class="dropdown">Bootcamp Prep</li>
    <ul>
        <li class="sub-header">Bootcamp Prep</li>
        <li>Students</li>
        <li>Instructors</li>
        <li>Cats</li>
      </ul>
    <li class="dropdown">Online
      <ul>
          <li class="sub-header">Online
        <li>Immersive</li>
        <li>Bootcamp Prep</li>
        <li>Cats</li>
      </ul>       
    <li class="dropdown">Sales</li>
      <ul>
        <li class="sub-header">Sales</li>
        <li>Associates</li>
        <li>Analytics</li>
        <li>Cats</li>
      </ul> 
    <li class="dropdown">Alumni</li>
      <ul>
        <li class="sub-header">Alumni</li>
        <li>Students</li>
        <li>Companies</li>
        <li>Opinions</li>
        <li>Cats</li>
      </ul>
  </ul>
</nav>