.ingredients-list {
  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

ul {
  list-style: square inside;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */

ul li a {
  text-decoration: none;
  color: inherit;
}

header > img {
  width: 100px;
}
body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #fefff1;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.user_review h4 {
  font-size: 20px;
}
