/* PHASE 11: Icons */

[class*="icon-"]{
    background-image: url(".././images/sprite.png");
    background-size: 25px 250px;
    background-repeat: no-repeat;
    display: inline-block;

    width: 25px;
    padding-top: 25px;
    height: 0;
    /* git rid of text */
    overflow: hidden;
}

[class*="icon-small-"]{
    width: 20px;
    padding-top: 20px;
}

.icon-comment{
    background-position: 0 0%;

}
.icon-reblog{
    background-position: 0 44%;
}
.icon-favorite{
    background-position: 0 22%;
}

.icon-comment:hover{
    background-position: 0 11%;
}
.icon-favorite:hover{
    background-position: 0 33%;
}
.icon-reblog:hover{
    background-position: 0 55%;
}
.icon-small-wall {
  background-position: 0 -225px;
}

.icon-small-about {
  background-position: 0 -175px;
}

.icon-small-friends {
  background-position: 0 -150px;
}

.icon-small-photos {
  background-position: 0 -200px;
}