<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 100DaysChallenge.com, <%= @user.email %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.email %>.<br />
    </p>
    <p>Please active your account :
    <a href="<%=activate_users_url(activation_token: @user.activation_token) %>">Actavite</a>
    </p>
    <p>
      If you can't click the button, just follow this link: 
      <%= activate_users_url(activation_token: @user.activation_token) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>