/* PHASE 6: Sidebar */
.profile-picture {
  margin-top: -120px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
}
.profile-info {
  padding: 10px 0;
}
.profile-info h2 {
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
}
.profile-info > p {
  margin: 10px 0;
}
.profile-nav {
  border-bottom: 1px #ccc solid;
  margin-bottom: 20px;
}

.profile-nav li {
  font-weight: bold;
  border-top: 1px #ccc solid;
  padding: 5px;
}

.profile-nav li:hover {
  background-color: #eee;
  cursor: pointer;
}
