/* PHASE 2: Navigation */

.header-logo {
  float: left;
  border-right: 1px solid #ccc;
}

.header-logo:hover {
  background-color: black;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background-color: black;
}
