<div class='note-item'>
    <p> Day: <%= (note.created_at.to_date - note.challenge.start_date.to_date).to_i %></p>

  <p><%= simple_format(note.content) %></p>

    <% if note.user_id == current_user.id %>
      <form action="<%= note_url(note) %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
        <input type="submit" value="Destroy ">
      </form>
    <% end %>
</div>
